[2021-09-30 08:29] Pranavanbu28 opened #3 "A simple-nice navbar"
<hr>

## Description 📜
I would like to make a nice looking navbar for a website using HTML and CSS.

<hr>

## Domain of Contribution 📊

- [x] Navbar design
- [ ] Footer
- [ ] Single page website design
- [ ] Animation design
- [ ] parallax effect design
- [ ] Others

<hr>

[2021-09-30 08:30] Pranavanbu28 commented on #3
Hi @Ayan-thecodeking I would like to work on this issue. Can you please assign it to me?

[2021-09-30 12:52] pranshukas opened #4 "Footer for the Website"
<hr>

## Description 📜

I would like to work on footer. I want to add this feature. Please suggest me the design/things to be added in the footer part. I am keen to work on this.
Please assign me this task.

<hr>

## Domain of Contribution 📊
- [x] Footer

## Any tutorials or Documentation are you going to add

<hr>

[2021-09-30 12:55] pranshukas commented on #4
Hello, @Ayan-thecodeking I would like to work on Footer. Please assign me this issue. Also, please suggest me the design of the footer and things that are to be added in the footer. I am keen to work on this.

[2021-09-30 13:13] Prajakta102 commented on #4
Please assign this task to me as I have good understanding of HTML , CSS JavaScript .
Also this is my first open source contribution.

[2021-09-30 13:14] Prajakta102 commented on #3
I would like to work on this issue .
Please assign this to me

[2021-09-30 19:10] gunjan-g opened #5 "Hover effect on search button and camera"
<hr>

## Description 📜

A hover effect on search bar and camera would be a better UI design

<hr>

## Domain of Contribution 📊

- [ ] Navbar design
- [ ] Footer
- [x] Single page website design
- [ ] Animation design
- [ ] parallax effect design
- [ ] Others

## Any tutorials or Documentation are you going to add
No
<hr>

[2021-09-30 19:11] gunjan-g commented on #5
Please assign me this issue under Hacktoberfest label

[2021-09-30 19:42] Ayan-thecodeking opened #6 "add Responsiveness in website"

[2021-09-30 19:43] gunjan-g commented on #6
@Ayan-thecodeking can I work on this issue

[2021-09-30 19:44] #5 closed

[2021-09-30 19:46] Ayan-thecodeking commented on #6
Sure go ahead :)

[2021-09-30 19:48] gunjan-g commented on #6
please assign me this issue

[2021-10-01 03:25] Subhradeep10 opened #7 "Add a Fitness Template"
I want to add a template, inside the projects

[2021-10-01 03:27] Subhradeep10 opened #8 "Will Add Favicon for the Website"

[2021-10-01 03:43] riasenpai opened #9 "A Responsive Card that could be multi purpose"
**Is your feature request related to a problem? Please describe.**
A responsive Profile card or a simple card with some animation where an image and some kind of description can be included.

**Describe the solution you'd like**
Making this card functionality with some animations.

**Additional context**
This issue is open to suggestions from @Ayan-thecodeking or other admins.

[2021-10-01 03:44] riasenpai commented on #9
@Ayan-thecodeking I would like to work on this.

[2021-10-01 03:51] riasenpai opened #10 "A Responsive Form"
**Is your feature request related to a problem? Please describe.**
I would like to work on a responsive login form.

**Additional context**
I would like to make this form and this issue is open to comments @Ayan-thecodeking

[2021-10-01 03:52] riasenpai commented on #10
@Ayan-thecodeking I would like to work on this under Hacktoberfest.

[2021-10-01 04:43] Subhradeep10 opened #11 "Add a portfolio Template"
@Ayan-thecodeking I wanna add a potfolio template , inside the folder

[2021-10-01 04:44] Pranavanbu28 opened #12 "Various types of buttons."
This issue is regarding showing different types of buttons that can be made with HTML and CSS

[2021-10-01 04:45] Pranavanbu28 commented on #12
Hey @Ayan-thecodeking Can you please assign this issue to me?

[2021-10-01 05:20] Vidushi-Gupta commented on #8
Could you please assign this to me as a part of hacktoberfest? Could you also please add the hacktoberfest label to the issue?

[2021-10-01 05:26] bhimeshagrawal opened #14 "Various type of designed scrollbars"
This issue is regarding different types of scrollbars for diifferent categories, themes

[2021-10-01 05:26] bhimeshagrawal commented on #14
Hey @Ayan-thecodeking can you assign me this issue

[2021-10-01 06:21] Subhradeep10 commented on #8
@Ayan-thecodeking Without creating any issue..someone make the PR..that's not acceptable!

[2021-10-01 07:02] Antara25-10 opened #19 "About,gallery and contact sections in the navbar aren't working"
I would like to fix this issue

[2021-10-01 07:05] nandini7637 opened #20 "Add about page"
@Ayan-thecodeking can I build a template for about us page?

[2021-10-01 09:08] Aditya-619 commented on #19
hey @Antara25-10  I had already made a contact form, if you wanna fix this issue you can continue with the about and gallery sections.

[2021-10-01 09:43] Antara25-10 commented on #19
Alright..but I don't think that contact form is connected with the navbar..and I want to fix that

[2021-10-01 10:00] Nikhita28 opened #22 "Footer template"
I would like to build a template of a website footer

[2021-10-01 10:52] Ayan-thecodeking commented on #4
![design figma](https://user-images.githubusercontent.com/78692566/135608366-196c6fe8-7b94-42f7-a1d8-b62dc319350d.png)
 keen to learn and contribute

sure go ahead @pranshukas make according to this

[2021-10-01 10:54] Ayan-thecodeking commented on #4
search out any other issues
@Prajakta102

[2021-10-01 10:55] Ayan-thecodeking commented on #3
sure go ahead ...make sure that ur design should responsive and avoid using frameworks @Pranavanbu28

[2021-10-01 10:58] Ayan-thecodeking commented on #19
hey @Antara25-10 for now we are not looking for that pages you can work on other issues

[2021-10-01 10:58] #19 closed

[2021-10-01 11:00] Ayan-thecodeking commented on #7
hey @Subhradeep10 ...go ahead but before that explain in brief about ur template

[2021-10-01 11:02] Ayan-thecodeking commented on #8
hey @Subhradeep10 yup go ahead ....fbut complete ur assigned issue first

[2021-10-01 11:02] Ayan-thecodeking commented on #8
look out for any other issues

[2021-10-01 11:04] Garima-7 opened #24 "Project Title Improvement"
**Describe the bug**
Project Title is not visible in some cards.

**Corrected behavior**
Adding background color to Project Title so that it is clearly visible.

**Screenshots**

![Screenshot (449)](https://user-images.githubusercontent.com/83363645/135609745-e4d23d2f-b35e-42b7-9350-05fe96fc7ce1.png)
![Screenshot (450)](https://user-images.githubusercontent.com/83363645/135609768-60827961-646f-442

[2021-10-01 11:04] Garima-7 commented on #24
Please assign me this issue.

[2021-10-01 11:05] Ayan-thecodeking commented on #9
sure @riasenpai go ahead

[2021-10-01 11:07] Ayan-thecodeking commented on #10
yup sure @riasenpai ...firstly make a pr assign for assigned issue

[2021-10-01 11:09] Ayan-thecodeking commented on #20
ya sure @nandini7637  but don't add it on website ...just make it for templates

[2021-10-01 11:33] Ayan-thecodeking commented on #22
@Nikhita28 someone else is working on this issue ....search for other issue

[2021-10-01 11:34] #22 closed

[2021-10-01 11:35] Ayan-thecodeking commented on #24
hey this is already improved ...pls look our for another issue
focus on templates @Garima-7

[2021-10-01 11:35] #24 closed

[2021-10-01 12:10] Antlia360 opened #25 "Improvement in the flex box used."
**Is your feature request related to a problem? Please describe.**
The image box used looks sticky.

**Describe the solution you'd like**
Adding some transition, hover effects would make it look good.

[2021-10-01 12:12] Antlia360 commented on #25
@Ayan-thecodeking can you assign this work to me?

[2021-10-01 12:15] Ayan-thecodeking commented on #25
Hey @Antlia360 someone is working already ....we have this project project for templates ...read readme and start add templates

[2021-10-01 13:40] swaraj-ssk commented on #20
I want to add about page. Can you please tell me in what format you want it ?

[2021-10-01 13:41] Ayan-thecodeking commented on #14
Sure @bhimeshagrawal ....pls try to add something unique ...

[2021-10-01 13:59] bhimeshagrawal commented on #14
Sure @Ayan-thecodeking I had made many different scrollbars according to different themes, including gradient scrollbars

[2021-10-01 14:28] Subhradeep10 opened #27 "Hamburger Icon for the Navbar"
I want to work on these issue @Ayan-thecodeking

[2021-10-01 14:50] Subhradeep10 opened #28 "Photography Template"
I wanna add Photography- Portfolio Template for Hacktoberfest , @Ayan-thecodeking please assign this to me

[2021-10-01 14:51] killua-24 opened #29 "Project Title visibility on hover"
Project title not visible properly due to different images contrast.
Creating a hover effect such that the text is focused.

[2021-10-01 14:57] killua-24 commented on #29
Resolved visibility of project title #30
Please review it.

[2021-10-01 15:14] Ayan-thecodeking commented on #28
Go ahead @Subhradeep10

[2021-10-01 15:18] Subhradeep10 commented on #28
@Ayan-thecodeking Please review my PR, then I can add this.

[2021-10-02 04:07] utkarsh1311 commented on #12
I would also like to add some button templates.

[2021-10-02 04:34] bhimeshagrawal commented on #14
I had made a pull request #34, please add the relevant labels before closing the issue

[2021-10-02 07:00] Subhradeep10 commented on #8
@Ayan-thecodeking Made the pull request, check it out

[2021-10-02 07:37] #20 closed

[2021-10-02 09:31] nandini7637 opened #41 "Contact us page"
@Ayan-thecodeking can I work on developing contact us page either for templates or website?

[2021-10-02 11:38] Ayan-thecodeking commented on #12
sure go ahead @Pranavanbu28
add ss and screen recording of ur template when u'll make a pr

[2021-10-02 11:38] Ayan-thecodeking commented on #14
sure @bhimeshagrawal

[2021-10-02 11:40] #25 closed

[2021-10-02 12:02] Ayan-thecodeking commented on #41
ya sure go ahead @nandini7637
add ss and screen recording of ur template when u'll make a pr

[2021-10-02 12:03] Ayan-thecodeking commented on #27
ya sure @Subhradeep10 add some geniune designs

[2021-10-02 12:10] Ayan-thecodeking commented on #29
hey @killua-24 someone has already made PR for this issue ....pls choose another issue

[2021-10-02 12:10] #29 closed

[2021-10-02 12:18] nandini7637 commented on #41
Sure! Thanks

[2021-10-02 12:40] Ayan-thecodeking opened #42 "Adding greet bot in repo"

[2021-10-02 17:22] utkarsh1311 commented on #42
Is there any way I can help?

[2021-10-03 02:24] jigarvyasidea commented on #6
I would like to work on this

[2021-10-03 02:53] mahesh-143 opened #44 "Resoponsive navbar with burger menu and dark mode switch"
I would like to create a responsive navbar with dark mode which turns into burger menu on mobile screen
Add any other context or screenshots about the feature request here.

[2021-10-03 03:15] SoundaryaKhanapur commented on #3
I would like to work on this.

[2021-10-03 03:16] SoundaryaKhanapur commented on #4
Can I work on this ?

[2021-10-03 06:37] sanskaromar commented on #42
Describe the issue pls

[2021-10-03 06:54] #9 closed

[2021-10-03 07:06] swaraj-ssk commented on #42
I am willing to contribute to this. Can you assign me this one ?

[2021-10-03 07:19] Ayan-thecodeking commented on #6
ya sure @jigarvyasidea go ahead
just add responsiveness in full website

[2021-10-03 10:16] BinayakBishnu opened #46 "Filter Buttons"
**Is your feature request related to a problem? Please describe.**
The buttons for filtering the templates have a grey font colour which gives an impression of them being disabled.

**Describe the solution you'd like**
A font colour with more contrast would help.
Moreover, an animation while changing colour on hover will look good instead of sudden colour change to red.

**Describe alternatives yo

[2021-10-03 10:17] #46 closed

[2021-10-03 10:18] BinayakBishnu opened #47 "Filter Buttons -font colour"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-10-03 10:18] #47 closed

[2021-10-03 10:18] BinayakBishnu opened #48 "Filter Buttons -font colour"
Is your feature request related to a problem? Please describe.
The buttons for filtering the templates have a grey font colour which gives an impression of them being disabled.

Describe the solution you'd like
A font colour with more contrast would help.
Moreover, an animation while changing colour on hover will look good instead of a sudden colour change to red.

Describe alternatives you've con

[2021-10-03 10:24] BinayakBishnu opened #49 "Add Semantic HTML"
**Is your feature request related to a problem? Please describe.**
Absence of semantic HTML.

**Describe the solution you'd like**
Addition of semantic syntax for HTML file.
Example:
`<input type="button" class="btn" value="All" />` _instead of_  `<div class="btn>All</div>`

**Describe alternatives you've considered**
Not applicable

**Additional context**
Illustrative example mentioned above: (Th

[2021-10-03 13:53] Pranavanbu28 commented on #12
Should I add a separate folder for ss and screen recs?

[2021-10-03 14:52] Ayan-thecodeking commented on #12
Here onlyy ....for reference what you have added ..got it @Pranavanbu28

[2021-10-03 14:52] Ayan-thecodeking commented on #12
Create a new issue @utkarsh1311

[2021-10-03 19:56] nandini7637 commented on #41
[https://drive.google.com/drive/folders/1jd4D1-KbB3BKestouttTtROihWUQ7rOw?usp=sharing](url)

[2021-10-03 20:35] pranshukas commented on #42
@Ayan-thecodeking I think this might Help !
https://medium.datadriveninvestor.com/welcome-first-time-contributors-to-your-github-repo-with-welcome-bot-93474758ac7e

In case you want I can help with this !

[2021-10-04 08:32] nandini7637 opened #52 "Events page template"
@Ayan-thecodeking I would like create a events page template with carousel and a timeline and some other elements.
Please assign this to me.

[2021-10-04 09:01] Yash-Sakre opened #53 "Various Custom Scroll bars Templates"
**Is your feature request related to a problem? Please describe.**
Custom scrollbars on the web can make a site or design stand out.

**Describe the solution you'd like**
Custom Scroll bar using CSS.

[2021-10-04 11:36] TishaJhabak1014 commented on #7
@Ayan-thecodeking can I also add a faq template? Plz let me know.

[2021-10-04 12:38] Ayan-thecodeking commented on #49
Ok go ahead @BinayakBishnu ....add ss and screen recording before making a pr

[2021-10-04 12:39] Ayan-thecodeking commented on #48
Not needed

[2021-10-04 12:39] #48 closed

[2021-10-04 12:39] Ayan-thecodeking commented on #52
Ok go ahead @nandini7637

[2021-10-04 15:42] sanskaromar opened #55 "Neon Themed Components"
I think it would be very cool to have neon themed components which can be used in a neon themes webpage later however we want.
I have already added few cards.
I am working on buttons right now. Probably it would be ready by tommorow.
I would like you to assign this issue to me.

[2021-10-04 16:18] Grace-Hephzibah opened #56 "Food website"
A simple template that can be used for food delivery purposes. The template will work for food delivery companies like Swiggy.

[2021-10-04 16:19] Grace-Hephzibah commented on #56
Can I work on this issue?

[2021-10-04 18:05] Ayan-thecodeking commented on #7
Create an another issue

[2021-10-04 18:07] TishaJhabak1014 commented on #7
sure. Thank you.

[2021-10-04 18:42] Ayan-thecodeking commented on #42
Thnx @pranshukas

[2021-10-04 18:42] #42 closed

[2021-10-04 18:42] Ayan-thecodeking commented on #56
Sure @Grace-Hephzibah

[2021-10-04 18:43] Ayan-thecodeking commented on #55
Ok sure go ahead @sanskaromar

[2021-10-04 18:47] #4 closed

[2021-10-04 18:50] #7 closed

[2021-10-04 19:15] TishaJhabak1014 opened #57 "Add a FAQ template"
**Is your feature request related to a problem? Please describe.**
This addition will help web apps grab the code for the faq section and customize it.

**Describe the solution you'd like**
I will use HTML, CSS, JS, Bootstrap to implement this

**Describe alternatives you've considered**
I will try to add a dark mode feature too.

**Additional context**
Add any other context or screenshots about t

[2021-10-04 19:16] TishaJhabak1014 commented on #57
@Ayan-thecodeking issue created, plz add the labels. and assign me.

[2021-10-05 04:33] Pranavanbu28 commented on #3
Hey @Ayan-thecodeking should I add ss and video for the navbar?

[2021-10-05 04:51] Ayan-thecodeking commented on #3
Yup add it

[2021-10-05 06:29] Ayan-thecodeking commented on #57
Ook @TishaJhabak1014

[2021-10-05 17:42] #10 closed

[2021-10-06 09:59] khushi-purwar opened #64 "Landing Page of a Food Website"
I will be creating a landing page for a food website. Can I work on this for Hacktoberfest contribution?

[2021-10-06 13:53] pranshukas opened #65 "Frontend Template - Photo Gallery"
## Description 📄

**I would like to work on a new template design,i.e a Photo Gallery to showcase your beautiful pictures.**

It would be purely in Vannila HTML, CSS and, JS, also the template would responsive for mobile screens. I would like to work on this, please assign me this Issue.

I assure to complete this task before the deadline with full efficiency.

<hr>

**Sample Design**

![image](ht

[2021-10-06 13:55] pranshukas commented on #65
@Ayan-thecodeking Please review my issue and assign me, I would like to work upon this Responsive Photo Gallery. Any feedbacks or suggestions are Welcomed 😊 !!

[2021-10-07 14:28] Ayan-thecodeking commented on #44
go ahead @mahesh-143

[2021-10-08 08:13] safalta15 commented on #12
i will add more new button template. please assign me this issue

[2021-10-08 12:55] Sanika2103 opened #69 "Hover Navbar"
This issue mainly created for adding the hover effect navbar.
Add responsiveness to it.

[2021-10-10 12:32] pranshukas commented on #65
@Ayan-thecodeking Please respond to this ? Should I work on this issue or not ?

[2021-10-10 17:45] satyamgupta1495 opened #74 "Adding a landing page for shoes website."
I wanna add a landing page for shoes website under hacktoberfest21. Could you assign me this? @Ayan-thecodeking?

[2021-10-11 06:48] suyogkokaje opened #75 "Login Page #71"
This issue is created for adding login page.

[2021-10-11 06:48] #75 closed

[2021-10-11 06:51] suyogkokaje opened #76 "Login Page"
This issue is created for adding login page

[2021-10-11 11:55] Ayan-thecodeking commented on #76
Sure @suyogkokaje

[2021-10-13 02:23] suyogkokaje opened #77 "Timeline Section"
A timeline section for a hackathons website to display the schedule of the events.

[2021-10-15 11:08] prathameshpatil2002 commented on #6
to which website we have to add responsivness ?

[2021-10-15 11:24] chauhanarpit09 opened #82 "Profile Card"
**Is your feature request related to a problem? Please describe.**
Wants to add profile card template similar to the image below

**Additional context**
![image](https://user-images.githubusercontent.com/49450216/137479556-a8fae837-1f6d-4540-82ae-ac2c70d3b7e5.png)

pls Assign this to me :)
Thanx !

[2021-10-18 03:48] Dexters-Hub opened #88 "code block not showing in contributing.md"
**Describe the bug**
Code-block of 9th Step is not showing properly in the contributing.md

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please co

[2021-10-18 04:34] Ayan-thecodeking commented on #88
Go ahead @Dexters-Hub

[2021-10-19 07:51] ashwintelmore commented on #69
@Sanika2103  i want to work on it please assign to me

[2021-10-19 18:28] #57 closed

[2021-10-20 06:35] prathameshpatil2002 commented on #77
Can I work on this @Sanika2103 ?

[2021-10-20 14:35] up4154 commented on #11
Can you assign me this please?

[2021-10-22 03:32] #77 closed

[2021-10-24 06:15] Rosy03 opened #105 "To Do List"
Hello @Ayan-thecodeking and @Sanika2103 , I want to work on a Simple ToDo List .

[2021-10-25 03:43] #105 closed, assigned to nobody

[2021-10-25 03:58] #82 closed, assigned to chauhanarpit09, up4154

[2021-10-27 02:50] Rosy03 opened #108 "Want to "Add FAQ Template""
Hello, @Ayan-thecodeking and @Sanika2103 .
I would like to add a FAQ template page.

[2021-10-27 05:31] #108 closed, assigned to Rosy03

[2021-10-28 06:58] ghost opened #110 "Adding a Library Template"
Hi, I would like to add a library template I don't know much about openSource so can I contribute
Thanks for reading😃

[2021-10-28 16:53] shrikanta8 opened #112 "colour should be changed when top left box having sentra written is hovered"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-10-28 18:23] shrikanta8 opened #113 "add more details in README.md file. for example, which html file will open the project, etc."

[2021-10-29 11:56] #112 closed, assigned to nobody

[2021-10-29 12:10] #110 closed, assigned to nobody

[2021-10-31 05:48] sideeq12 commented on #74
HI, can I work on this?

[2022-09-30 16:19] AbhishekTiwari23 commented on #69
Can u please assign it to me ?

[2022-09-30 16:20] AbhishekTiwari23 commented on #6
I want to work on it. If possible, then please assign

[2022-09-30 18:33] AbhishekTiwari23 opened #122 "Save Food Website"
I want to add a Save food website to the contribution as my hacktoberfest task.
I will reflect on an initiative to stop wasting food and prevent them from being wasted by donating to the needy ones.

[2022-09-30 18:35] AbhishekTiwari23 commented on #11
I want to work on it. Can you please assign it to me? And is it related to hactoberfest @Ayan-thecodeking

[2022-09-30 19:15] MananAgr2003 opened #123 "Food Website Footer"
The Footer Of The Food Website Looks Very Basic And It Can be Updated To Make It Look Better.

I Would Like To Design And Implement A New Footer For The Food Website.

[2022-09-30 21:45] Tushar-2003 opened #124 "weather app template"
**Is your feature request related to a problem? Please describe.**
template for a simple weather app.

**Describe the solution you'd like**
I want to add a template for a simple weather app.

**Describe alternatives you've considered**
if someone else has already added this then it is great.
**Additional context**
it would be helpful if my pr is accepted

[2022-10-01 03:14] Chirantanbanik opened #126 "Will add a template of Email collector database"
**Is your feature request related to a problem? Please describe.**
It's an template of an application that is a Email Collector database.

[2022-10-01 04:07] Ayan-thecodeking commented on #11
@AbhishekTiwari23 create a new new issue I'll assign

[2022-10-01 04:38] AbhishekTiwari23 opened #127 "Basic Portfolio"
Hello, I want to add a basic portfolio to this collection. Please allow me for this

[2022-10-01 05:35] its-harsshhh commented on #123
i would like to work on this issue. kindly assign it to me

[2022-10-01 07:12] Ayan-thecodeking commented on #127
@AbhishekTiwari23 go ahead

[2022-10-01 07:20] Mohasin-Haque opened #128 "Adding a minimalist template."
I would like to contribute a fitness app template more like a minimalist template.

[2022-10-01 07:35] amelia2802 opened #130 "Feedback Form"
**Describe the solution you'd like**
I want to contribute by adding a feedback form template

[2022-10-01 08:14] its-harsshhh opened #131 "'My pets website Template"
<h1>I would like to contribute a 'My pets website' template more like a minimalist template.</h1>

[2022-10-01 08:17] its-harsshhh commented on #131
I have created a PR. kindly reviewed it :)
https://github.com/Coders-Evoke-Community/Amazing-Frontend_Templates/pull/129

[2022-10-01 10:56] srinjoy-26 opened #132 "A responsive sidebar"
**Is your feature request related to a problem? Please describe.**
No, I want to add a responsive sidebar made using html, css and js.

**Describe the solution you'd like**
Add the project.

**Describe alternatives you've considered**
None.

**Additional context**

![171229784-bafcd02b-071b-4bbd-b291-24533c9c04b0](https://user-images.githubusercontent.com/91176055/193406294-2d480c8e-bcd1-4d4f-8b9d

[2022-10-01 10:57] srinjoy-26 commented on #132
Please assign @Ayan-thecodeking

[2022-10-01 11:16] Ayan-thecodeking commented on #132
@srinjoy-26 go ahead .. sidebar icons are not responsive pls have a look and make PR

[2022-10-01 11:21] #6 closed

[2022-10-01 12:14] its-harsshhh commented on #131
@Ayan-thecodeking

[2022-10-01 14:41] Sulagna-Dutta-Roy opened #134 "Responsive FAQ template"
**Is your feature request related to a problem? Please describe.**
Yes. I will be adding FAQ template which can be beginner friendly and responsive.

**Describe the solution you'd like**
This project will be build using Html,Css,Javascript.

**Describe alternatives you've considered**

NA

**Additional context**
Add any other context or screenshots about the feature request here.

[2022-10-01 14:51] Adit0507 opened #135 "Add a Sneaker Website"
**Is your feature request related to a problem? Please describe.**
I want to add a really cool sneakers ecommerce site made with HTML, CSS and JavaScript.

**Describe the solution you'd like**
Checkout the live site here:  https://adit0507.github.io/Sneaker-Site/

[2022-10-01 15:04] Ayan-thecodeking commented on #135
hey @Adit0507 let me know when you have created this site ??

[2022-10-01 15:05] Ayan-thecodeking commented on #134
sure @Sulagna-Dutta-Roy pls go ahead also add one clip while making a PR

[2022-10-01 15:06] Adit0507 commented on #135
*uploaded

[2022-10-01 15:07] Ayan-thecodeking commented on #131
Hey @its-harsshhh it's not valid if you request a PR before asking to assign , next time please keep it in mind

[2022-10-01 15:35] Ayan-thecodeking commented on #128
@Mohasin-Haque sure go ahead dude

[2022-10-01 15:39] Ayan-thecodeking commented on #124
@Tushar-2003 hey dude when you have created this template ?? if you had done it before 1 Oct then it might not be considered according to hacktorfest rules and regulations. pls make sure you're adding recent projects

[2022-10-01 15:41] Ayan-thecodeking commented on #123
hey @MananAgr2003 pls add both the ss of the footer before and after ... to know what changes are you doing.
and you're ready to go

[2022-10-01 15:42] Ayan-thecodeking commented on #122
@AbhishekTiwari23 go ahead

[2022-10-01 15:44] its-harsshhh commented on #131
@Ayan-thecodeking pardon!! i forget to create an issue. kindly accept this time. next time, i keep this in my mind

[2022-10-01 16:15] AbhishekTiwari23 commented on #122
Thanks Bahia, I will give my best

[2022-10-01 16:17] MananAgr2003 commented on #123
BEFORE :

![prevFooter](https://user-images.githubusercontent.com/92633110/193418549-2264cb8e-b05e-458e-a125-b15d6f1c5234.png)

AFTER:

![newFoot](https://user-images.githubusercontent.com/92633110/193418567-131893b4-ba65-4a8e-b6c8-cc4228067257.png)

[2022-10-01 16:30] Adit0507 commented on #135
@Ayan-thecodeking Is it good to go ?

[2022-10-01 16:57] Tushar-2003 commented on #124
I have added it after 1st October. It is showing in my hacktoberfest profile.

[2022-10-02 11:07] its-harsshhh opened #140 "Podcastr-Music Streaming website"
**Is your feature request related to a problem? Please describe.**
<i>Podcastr is the website where people can listen songs like spotify</i>

**Describe the solution you'd like**
<i>I am working under hacktoberfest2022</i>

**Describe alternatives you've considered**
N/A

**Additional context**
Add any other context or screenshots about the feature request here.
N/A

[2022-10-02 11:08] its-harsshhh commented on #140
@Ayan-thecodeking kindly assign it to me!

[2022-10-02 15:00] surbhi400 opened #143 "A Simple calculator"
**Is your feature request related to a problem? Please describe.**
I want to add a simple calculator website which makes calculations easy using HTML,CSS and JS.

**Describe the solution you'd like**
It will have all the features of a basic calculator. It will perform all the operations a simple calculator can perform like addition multiplication etc.

[2022-10-02 15:04] surbhi400 commented on #143
@Ayan-thecodeking I want to work on this issue so please assign it to me.

[2022-10-02 16:48] sshiwangi opened #144 "Weather WebApp Template"
**Is your feature request related to a problem? Please describe.**
I would like to add a weather webapp template.

**Describe the solution you'd like**
The website will be built using html and css and will be responsive.

**Describe alternatives you've considered**
NA

**Additional context**
Add any other context or screenshots about the feature request here.

[2022-10-02 16:49] sshiwangi commented on #144
@Ayan-thecodeking please assign me this issue under hacktoberfest.

[2022-10-02 17:04] Rashmisingh-18 opened #145 "Charity/NGO website template"
**Is your feature request related to a problem? Please describe.**
I want to make a responsive NGO or some kind of social work/charity website template.

**Describe the solution you'd like**
To attract people to help develop rural areas by donating for better tomorrow.

**Describe alternatives you've considered**
Using attractive posters and quotes.

**Additional context**
Add any other context or

[2022-10-02 17:06] Rashmisingh-18 commented on #145
Please assign this issue to me under Hacktoberfest 2022. I can design it using HTML, CSS, and bootstrap.

[2022-10-02 19:06] shashank-iter commented on #128
I find this repository really amazing. I would love to contribute contribute a  minimalist login page template. May I ?

[2022-10-02 19:25] rajbhoyar729 commented on #69
@sabika can  u  please  elaborate

Add responsiveness to it.

whats  your  expectation  with  this  line i  am  stuck    and  confuse
can u please  explain

[2022-10-03 09:33] Sanika2103 commented on #69
Navbar should be responsive enough to fit on every screen size. Also it should work properly of you've added hovering effects to dropdowns.

[2022-10-03 10:50] rajbhoyar729 commented on #69
I  have  added hovering  effect to both nav  bar  and  drop down    and   I  will try to   improve the  responsiveness

[2022-10-03 13:52] VinayAmbatkar commented on #122
I want to contribute  on this Interesting project, currently I am working and exploring frontend and also want to complete my hacktoberfest task, so this is best opportunity for me..
we can add:
1.Tips sections
2.Organization
3.West Management etc..

want to contribute...
Assign it to me

[2022-10-05 03:15] VinayAmbatkar commented on #12
please assign me this issue ,i have new design buttons ideas

[2022-10-05 04:15] Adit0507 commented on #135
@Ayan-thecodeking Should I proceed ? If so kindly assign it to me.

[2022-10-05 12:50] #134 closed

[2022-10-05 12:52] #130 closed

[2022-10-05 12:59] Ayan-thecodeking commented on #144
@sshiwangi go ahead

[2022-10-05 13:00] Ayan-thecodeking commented on #143
@surbhi400 go ahead

[2022-10-05 13:01] #140 closed

[2022-10-05 13:02] Ayan-thecodeking commented on #135
@Adit0507 go ahead

[2022-10-05 13:26] #131 closed

[2022-10-06 12:40] Asttttha opened #151 "Tour Before Trip"
Html, Css and JS project, with background video.

![Screenshot (284)](https://user-images.githubusercontent.com/95849912/194314597-03273d4c-574a-4281-a73d-5a947f14f604.png)

![Screenshot (283)](https://user-images.githubusercontent.com/95849912/194314499-0d18becf-56c3-4f70-9b9e-1fbf9733a731.png)

please assign this issue.

[2022-10-08 03:39] sshiwangi opened #158 "Add a Blog Website"
**Is your feature request related to a problem? Please describe.**
I would like to add a blog website.

**Describe the solution you'd like**
It will be responsive and built using HTML, CSS and JavaScript.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other context or screensho

[2022-10-08 03:40] sshiwangi commented on #158
@Ayan-thecodeking please assign me this issue under hacktoberfest.

[2022-10-08 07:55] prachi070 opened #159 "Career Goals website"
A frontend project, for students to find resources in accordance to their needs.

[2022-10-08 07:55] prachi070 commented on #159
Kindly assign me this issue.

[2022-10-08 16:00] Satakshijain opened #160 "I would like to add a coding website template to it"

[2022-10-08 20:04] #144 closed

[2022-10-08 20:11] #135 closed

[2022-10-10 09:08] zaidsidd360 opened #161 "Add a 3D product page for Nike Air Jordan."
**Is your feature request related to a problem? Please describe.**
I want to add a 3D product page for Nike Air Jordan shoes. Kindly assign me this issue under the Hacktoberfest label.

**Describe the solution you'd like**
The page will have the product visible in 3D and users can rotate and view the shoes from every angle.

**Describe alternatives you've considered**
NA

**Additional context**
*S

[2022-10-10 10:31] ilhamansari opened #162 "Add a Gym website"
Is your feature request related to a problem? Please describe.
I want to add a gym website (named Apna Gym) , so please assign me this issue under hacktoberfest label.

Describe the solution you'd like
A gym website along with the gym subscription form.

Describe alternatives you've considered
NA
**Additional context**
Add any other context or screenshots about the feature request here.

![Screens

[2022-10-10 18:46] Sulagna-Dutta-Roy opened #163 "Linktree template"
**Is your feature request related to a problem? Please describe.**
I will be creating linktree template using html,css,js.

**Describe the solution you'd like**
It will be fully responsive as well

**Describe alternatives you've considered**
NA

**Additional context**
NA

[2022-10-11 13:38] Kpallavi5 commented on #128
@Mohasin-Haque Hyy Mohasin are you working on this issue if not the can I start working on this issue.?

[2022-10-12 10:03] Ayan-thecodeking commented on #163
sure @Sulagna-Dutta-Roy

[2022-10-12 10:04] Ayan-thecodeking commented on #162
@ilhamansari sure .. let me show the responsiveness or share me the deployed link

[2022-10-12 10:05] Ayan-thecodeking commented on #161
great @zaidsidd360 move ahead

[2022-10-12 10:06] Ayan-thecodeking commented on #160
@Satakshijain go ahead and make a PR with deployed link :)

[2022-10-12 10:11] Ayan-thecodeking commented on #159
@prachi070 sure .. make  a PR with deployed link

[2022-10-12 10:12] Ayan-thecodeking commented on #158
sure @sshiwangi make a PR with deployed link

[2022-10-12 10:13] Ayan-thecodeking commented on #151
@Asttttha .. make a PR with deployed link

[2022-10-12 10:16] #124 closed

[2022-10-12 14:05] ilhamansari commented on #162
@Ayan-thecodeking I am currently working on responsiveness and it will show up in the near future.
Here's the deployed [link](https://ilhamansari.github.io/Apna-Gym/) (desktop only for now)
So please add the hacktoberfest label.

[2022-10-13 08:08] amelia2802 opened #167 "Unit Converter"
**Describe the solution you'd like**
Convert mass, length & volume by using vanilla javascript

[2022-10-13 14:28] #167 closed

[2022-10-13 14:30] #163 closed

[2022-10-13 15:11] Pranjal2870 commented on #143
Please assign me this issue

[2022-10-13 15:12] Pranjal2870 commented on #127
Please assign me this project @Ayan-thecodeking

[2022-10-13 15:13] Pranjal2870 commented on #11
Please assign me this issue @Ayan-thecodeking

[2022-10-13 16:25] Subha-5 opened #173 "Make a single page website frontend template"
Tech Stack:
HTML, CSS and JS

Description
A custom template which can be used if you want just a simple template and add content to make a website for yourself.

[2022-10-13 16:28] Subha-5 commented on #173
@Ayan-thecodeking please assign me this issue with a hacktoberfest tag

[2022-10-13 20:18] DhruvLamba opened #175 "#Online Medicine Delivery Website (Delivery on the same day)"
## Hello Sir,
I want to work on a website for completing my  **Hacktoberfest Task**.
The description for the website is given below :
### We know that there are many websites which deliver medicines online but it takes a lot of time for the medicine to arrive to the customer, so I want to work on this problem and build a website which would provide medicine on that day only, for example like imple

[2022-10-14 16:26] GarvLuthra24 opened #178 "medium clone responsive website"
A medium clone frontend website with responsive media queries. can be used as a template for medium-like websites

[2022-10-14 19:41] kunal00000 opened #179 "Add word guessing game"
**Is your feature request related to a problem? Please describe.**
I want to add a word guessing game.

**Describe the solution you'd like**
made using html css and javascript.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
does not works on mobile

[2022-10-14 19:41] kunal00000 commented on #179
@Ayan-thecodeking assign me this under hacktoberfest.

[2022-10-15 10:23] zaidsidd360 commented on #161
Hey @Ayan-thecodeking , it's a react app and so far I've seen people contributing basic html, css and js code. Should I still go ahead and make the pr?

[2022-10-15 18:15] Santanujana2001 opened #180 "Student Biodata card"
**Describe the solution you'd like**
A student bio data card which will contain all informations of student .

[2022-10-16 06:06] Ishukumarpathak commented on #123
Please assign me the issue. I want to work on that.

[2022-10-16 06:07] Ishukumarpathak commented on #53
Hey, I want to work on this issue. Can you please assign me the same.

[2022-10-19 11:38] Upasana-Roy commented on #12
I have some button ideas , can you please assign this to me

[2022-10-19 11:41] Upasana-Roy commented on #180
Can you please assign this to me . I want to work on this

[2022-10-19 14:00] #123 closed

[2022-10-19 15:03] #158 closed

[2022-10-19 15:23] lanu2 commented on #173
I would like to contribute.could u assign me.

[2022-10-19 15:35] Ishukumarpathak commented on #65
Please assign me this issue. I want to work on this.

[2022-10-19 15:49] #74 closed

[2022-10-20 10:51] ahanavish opened #186 "Login-page-template"
**Is your feature request related to a problem? Please describe.**
Login pages are the most used pages on any kind of website. But designing a responsive page isn't easy.

**Describe the solution you'd like**
I would like to design a responsive login page using HTML, CSS, and JavaScript

[2022-10-20 10:54] ahanavish commented on #186
@Ayan-thecodeking kindly assign me this issue under Hacktoberfest.

[2022-10-20 18:07] sanket95droid opened #187 "Navbar Improvement"
**Is your feature request related to a problem? Please describe.**
Whenever the navbar does not have a great UI and is not responsive it is hard to change the page or section.

**Describe the solution you'd like**
I will change the navbar and assign buttons for the page sections and will include a logo for the website.

[2022-10-20 18:10] Sanika2103 commented on #12
Okay @Upasana-Roy you can start working on that.

[2022-10-20 18:13] #178 closed

[2022-10-20 18:24] sanket95droid opened #188 "No proper alignment of page"
**Describe the bug**
The page scaling is not proper and tends to appear on the right side of the page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://coders-evoke-community.github.io/Amazing-Frontend_Templates/?
2. Click on the Scroll bar.
3. Scroll down to the Featured Places section.
4. See error = The page alignment is wrong from the features place section to the very botto

[2022-10-20 20:10] #151 closed

[2022-10-24 17:06] darshitdudhaiya commented on #161
hey @Ayan-thecodeking  i have code for it but where will i put it in repo?

[2022-10-28 05:21] OneAutumLeaf commented on #128
HI @Ayan-thecodeking
i have some minimalist website template can i make PR for it.